asn1crypto==0.24.0
attrs==19.1.0
Automat==0.7.0
browsercookie==0.7.5
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cssselect==1.0.3
entrypoints==0.3
html2text==2018.1.9
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
keyring==19.0.2
lxml==4.6.3
lz4==2.1.10
parsel==1.5.1
pdfkit==0.6.1
pip==19.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
pycrypto ==2.6.1
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
queuelib==1.5.0
requests==2.22.0
Scrapy==1.8.1
selenium==3.141.0
service-identity==18.1.0
setuptools==40.8.0
six==1.12.0
Twisted==19.7.0
urllib3==1.26.5
w3lib==1.20.0
zope.interface==4.6.0